samples/          export-ignore
packages/         export-ignore
scripts/          export-ignore
docs/             export-ignore

.github/          export-ignore
.idea/            export-ignore
.vscode/          export-ignore
vcpkg.json        export-ignore