samples/          export-ignore
sdk/              export-ignore
create-shine-app/ export-ignore
scripts/          export-ignore
docs/             export-ignore

.github/          export-ignore
.idea/            export-ignore
.vscode/          export-ignore